.navbar {
  display: flex;
  background:var( --bg-light);
  height: 65px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 100px;
  position: fixed;
  /* box-shadow: 0px 0px 10px -6px; */
}
.navbar.scroll {
  background: var(primary-color);
  box-shadow: 0px 0px 14px -8px;

}

.logo h5 {
  font-size: 20px;
  color: var(--font-color);
}
.nav_link {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
  margin-right: 10px;

  margin-top: 10px;
}
.nav_link li {
  margin-left: 18px;
}
.nav_link a {
  color:  var(--font-color);
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}
.signup a {
  /* margin-top: 5%; */
  color: var( --bg-light);
  padding: 8px 18px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
  border: 1px solid tomato;
}

.nav_link a:hover {
  border-bottom: 2px solid var(--tomato-color);
  color: var(--tomato-color);
  /* font-weight: 600; */
}

.nav_link .myActive {
  border-bottom: 2px solid var(--tomato-color);
  color: var(--tomato-color);
  font-weight: 600;

}
.mobail_menu_icon {
  display: none;
}

#flexSwitchCheckDefault {
  margin-left: 10px;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0px 50px;
  }
}

@media screen and (max-width: 780px) {

  .logo h5 {
    margin-left: -70px;
    margin-top: 16px;
    font-size: 22px;

  }
  .nav_link {
    display: none;
  }

  .mobile_link {
    position: absolute;
    display: block;
    list-style: none;
    background: #131316d5;
    left: 0;
    top: 65px;
    transition: all 0.9s ease-out;
    width: 100%;
    padding: 10px;
  }

  .mobile_link li {
    margin-top: 20px;
  }

  .mobile_link a,
  .signup a {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 30px;
    width: 100%;
    text-decoration: none;
    transition: all 0.9 ease-in;
  }

  .mobile_link a:hover {
    color: var(--tomato-color);
  }

  .mobile_link .myActive {
    color: var(--tomato-color);
  }

  .signup a {
    border: 1px solid var(--tomato-color);
    padding: 3px 18px;
  }
  .mobail_menu_icon {
    display: block;
    color: var(--font-color);
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }

  #flexSwitchCheckDefault {
    margin-left: 62%;
  }
  .form-check-label {
    font-size: 14px;
  }
  .mobail_menu_icon svg {
    margin-left: 82%;
  }

  .icon-bar{
    display: none;
  }
}
